<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018113911970-0m27v49ohrbepn2bunqg48pv4tec6tvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018113911970-0m27v49ohrbepn2bunqg48pv4tec6tvf</string>
	<key>API_KEY</key>
	<string>AIzaSyBtsdo0JMJFexE2l50k4_sK0LiKTOLotng</string>
	<key>GCM_SENDER_ID</key>
	<string>1018113911970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditApp</string>
	<key>PROJECT_ID</key>
	<string>redditapp-baebd</string>
	<key>STORAGE_BUCKET</key>
	<string>redditapp-baebd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018113911970:ios:63220b522a8e20e74f7bfb</string>
</dict>
</plist>